openapi: 3.0.1
info:
  title: Trigger Orchestrated campaigns using APIs
  version: v1
  description: >-
   Use these APIs to trigger Orchestrated Campaigns in Adobe Journey Optimizer.
  
    Required permission is: `Publish Orchestrated Campaign`


   **Related documentation:**

    To learn more about Orchestration campaigns flows, refer to the product documentation [here](https://experienceleague.adobe.com/en/docs/journey-optimizer/using/campaigns/orchestrated-campaigns/orchestrated-advanced/trigger-orchestrated-campaign).

   **API paths and required headers:**

    Refer to the detailed information provided within the following operations.
  
servers:
  - url: https://platform.adobe.io/ajo/campaign-orchestration
    description: Base path URL
paths:
  /OrchestratedCampaigns/{id}/trigger:
    post:
      tags:
      - Orchestrated campaigns
      summary: Trigger an Orchestrated campaign
      description: >-
        Triggers an Orchestrated campaign that is defined with ***Triggered by a signal*** scheduler option. The Orchestrated campaign must be in **LIVE** status, or
        in **DRAFT** status with an active test session.
        

        A throttle guardrail enforces a **1-hour** minimum interval between triggers in production; it is not applied in test mode.


        Optional parameters can be passed in the request body.
      operationId: triggerOrchestratedCampaign
      parameters:
        - name: Authorization
          in: header
          required: true
          description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          description:  The API key belonging to the calling client
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: The Orchestrated campaign id
          schema:
            type: string
        - name: x-gw-ims-org-id
          in: header
          required: true
          description: The IMS org id for which the call is being taken
          schema:
            type: string
        - name: x-sandbox-name
          in: header
          required: true
          description: The platform sandbox name for which the call is being taken
          schema:
            type: string
        - name: x-request-id
          in: header
          description: A unique id generated by Adobe.io. This parameter will be auto-generated, do not include it in your payload.
          schema:
            type: string
        - name: x-api-version
          in: header
          required: true
          description: API version to consider
          schema:
            type: string
            enum:
              - '1'
      requestBody:
        description:
          Optional payload. Use `variables` to supply workflow parameters (key-value pairs).
          

          If you pass a parameter that has not been defined in the scheduler, the API call still succeeds and the parameter is propagated.
        content:
          application/json:
            examples:
              With variables:
                description: Two parameters passed to the trigger signal
                value:
                  variables:
                    param1: value1
                    param2: value2
              Empty body:
                description: No pameters passed to the trigger signal
                value: {}
      responses:
        '200':
          description: Orchestrated campaign triggered successfully
          content:
            application/json:
              examples:
                Success response:
                  value:
                    status: success
                    orchestratedCampaignId: b902ba3d-8d8c-4a51-b393-8779dfe49653
                    message: Orchestrated campaign triggered successfully
        '400':
          description: >-
            Bad request - Orchestrated campaign is not LIVE (and not DRAFT with active test session) or not configured as signal-triggered
          content:
            application/json:
              examples:
                Not LIVE (example):
                  value:
                    type: https://ns.adobe.com/aep/errors/CJMOC-6100-400
                    title: >-
                      Orchestrated campaign must be in LIVE status or DRAFT
                      status with active test session to trigger. Current
                      status: STOPPED
                    message: >-
                      Orchestrated campaign must be in LIVE status or DRAFT
                      status with active test session to trigger. Current
                      status: STOPPED
                    status: 400
                    report:
                      tenantInfo:
                        requestId: d1de5583-5ac2-40de-a77e-16751e9b6843
                        traceId: b177d17cecf111efd8f72dcadf40b294
                        spanId: c877c28c3085b4b4
                      additionalContext:
                        status: STOPPED
                    at: '2026-02-23T13:50:16.163Z'
        '403':
          description: Authorization error - RBAC or OLAC permissions check failure
          content:
            application/json:
              examples:
                RBAC permission issue:
                  value:
                    type: https://ns.adobe.com/aep/errors/CJMOC-1001-403
                    title: Authorization error
                    message: Authorization error
                    status: 403
                    report:
                      tenantInfo:
                        requestId: c6ByyjnUShIPMW64fKquJYZ1o4CWbxn9
                        traceId: invalid
                        spanId: invalid
                      additionalContext: {}
                    at: '2026-03-31T15:19:37.764Z'
                OLAC check issue:
                  value:
                    type: https://ns.adobe.com/aep/errors/CJMOC-1215-403
                    title: OLAC check failed for operation trigger on resource 8189ea13-5e02-412d-8615-d0ccb17662b9
                    message: OLAC check failed for operation trigger on resource 8189ea13-5e02-412d-8615-d0ccb17662b9
                    status: 403
                    report:
                      tenantInfo:
                        requestId: sgbVgohHahzxCFQtQspxXSQgsYoSRgI8
                        traceId: invalid
                        spanId: invalid
                      additionalContext:
                        operation: trigger
                        id: 8189ea13-5e02-412d-8615-d0ccb17662b9
                    at: '2026-03-31T15:36:18.099Z'
        '404':
          description: Orchestrated campaign not found
          content:
            application/json:
              examples:
                Orchestrated campaign not found:
                  value:
                    type: https://ns.adobe.com/aep/errors/CJMOC-1200-404
                    title: >-
                      Element of type OrchestratedCampaign with id
                      91ea0a68-a86a-451e-b333-9f75c41dadb3 not found
                    message: >-
                      Element of type OrchestratedCampaign with id
                      91ea0a68-a86a-451e-b333-9f75c41dadb3 not found
                    status: 404
                    report:
                      tenantInfo:
                        requestId: e19e935f-6f12-4d6e-ad1e-2d91081d36a0
                        traceId: 02f3835700a3b5e8fefbf27209b4e79e
                        spanId: db66ae3adb2645f7
                      additionalContext:
                        type: OrchestratedCampaign
                        id: 91ea0a68-a86a-451e-b333-9f75c41dadb3
                    at: '2026-02-27T15:17:30.184Z'
                API version not specified or incorrect:
                  description: missing x-api-version header parameter or incorrect value provided
                  value:
                    type: about:blank
                    title: Not found
                    status: 404
                    detail: No static resource apis/orchestratedCampaigns/664b280d-0c80-48c5-af81-dfa06127e45a/trigger.
                    instance: /apis/orchestratedCampaigns/664b280d-0c80-48c5-af81-dfa06127e45a/trigger
        '429':
          description: >-
            Too many requests — Orchestrated campaign was triggered again before the minimum interval
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              style: simple
              schema:
                type: integer
                format: int64
          content:
            application/json:
              examples:
                Throttle guardrail:
                  value:
                    type: https://ns.adobe.com/aep/errors/CJMOC-6104-429
                    title: >-
                      Orchestrated campaign was triggered too recently. Retry
                      after 1534 seconds
                    message: >-
                      Orchestrated campaign was triggered too recently. Retry
                      after 1534 seconds
                    status: 429
                    report:
                      tenantInfo:
                        requestId: f29e1044-7ad3-51ef-cb2f-3ea192e47b91
                        traceId: c288e28fdf22200ge8g83edbc51c305
                        spanId: d988d39bec376c68
                      additionalContext:
                        retryAfter: '1534'
                    at: '2026-02-23T13:50:16.163Z'
components: {}